<a href="https://colab.research.google.com/github/akifnawab038/-ASSIGNMENT-2-/blob/main/%22ASSIGNMENT_DATA_STRUCTURE_ADVANCE%22_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT:
## DATA STRUCTURE ADVANCE:

**1. Write a code to reverse a string**

In [ ]:
string = "pwskills"
string[::-1]

'sllikswp'

**2. write a code to count the number of vowels in a string.**

In [ ]:
q = "Md Akif Nawab"
vowels = "aeiouAEIOU"
count = sum(q.count(vowel) for vowel in vowels)
print(count)

4

**3. write a code to check if given string is a plaindrone or not**

In [ ]:
n = input("string")
revstr = n[::-1]
if n == revstr:
    print("palindrome")
else:
    print("not palindrome")

stringAFIFA
palindrome

In [ ]:
n = input("string")
revstr = n[::-1]
if n == revstr:
    print("palindrome")
else:
    print("not palindrome")

stringAKIF
not palindrome

**4. Write a code to check if two giben strings are anagrams of eachother.**

In [ ]:
str1 = input("enter string1 ")
str2 = input("enter string2 ")

if len(str1) != len(str2):
  print("not anagram")
else:
  if sorted(str1) == sorted(str2):
    print("strings are anagrams")
  else:
    print("strings are not anagrams")

enter string1 HEART
enter string2 EARTH
strings are anagrams

**5. Write a code to find all occurrences of given substring within another string.**

In [ ]:
str3 = "HELLO"
substr = []
for i in range(0,len(str3)):
  for j in range(i+1,len(str3)+1):
    substr.append(str3[i:j])
print(substr)

['H', 'HE', 'HEL', 'HELL', 'HELLO', 'E', 'EL', 'ELL', 'ELLO', 'L', 'LL', 'LLO', 'L', 'LO', 'O']

**6. Write a code to perform basic string compression using the counts of repeted characters.**

In [ ]:
k = input("enter string: ")
l = list(k)
freq = [l.count(ele) for ele in l]
d = dict(zip(l, freq))
print(d)

enter string: Hello welcome to python programming
{'H': 1, 'e': 3, 'l': 3, 'o': 5, ' ': 4, 'w': 1, 'c': 1, 'm': 3, 't': 2, 'p': 2, 'y': 1, 'h': 1, 'n': 2, 'r': 2, 'g': 2, 'a': 1, 'i': 1}

**7. Write a code to determine if a string has all unique characters.**

In [ ]:
str5 = input("enter string: ")
for  i in range(len(str5)):
  if str5[i] in str5[i+1:]:
    print("not unique")
    break
else:
  print("unique")

enter string: akif nawab
not unique

**8. Write a code to convert a given string to uppercase or lower case.**

In [ ]:
s = "Md Akif Nawab"
s.upper()

'MD AKIF NAWAB'

In [ ]:
s.lower()

'md akif nawab'

**9. write a code to count the number of words in a string.**

In [ ]:
str8 = "Md Akif Nawab"
len(str8.split())

3

**10. Write a code to concatenate two strings without using the + operator.**

In [ ]:
a = "Md Akif"
b = " Nawab"
" ".join([a,b])

'Md Akif  Nawab'

**11. write a code to remove all occurrences of a specific element from a list.**

In [ ]:
lis = [1,2,3,4.44, "akif", "nawab", True]

In [ ]:
lis.remove(1)

In [ ]:
lis

[2, 3, 4.44, 'akif', 'nawab', True]

In [ ]:
lis.clear()

In [ ]:
lis

[]

**12. Implement a code to find the second largest number in a given list of integers.**

In [ ]:
l = [1,20,50,70,90,100]
l.sort()
print(f"second largest element - {l[-2]}")

second largest element - 90

**13. Creat a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.**

In [ ]:
lis1 = [1,2,3,2,3,1,1.1,2,"hello", "hello", True, True, False, 100]
freq = {element : lis1.count(element) for element in lis1}
print(freq)

{1: 4, 2: 3, 3: 2, 1.1: 1, 'hello': 2, False: 1, 100: 1}

**14. Write a code to reverse a list in-place without using any built-in reverse functions.**

In [ ]:
lis2 = [1,2,3,4,5]
lis2[::-1]

[5, 4, 3, 2, 1]

**15. Implement a code to find and remove dublicate from a list while preserving the original order of elements.**

In [ ]:
lis3 = ["a", "a", "b", "c", "b", "d", "c"]
list(dict.fromkeys(lis3))

['a', 'b', 'c', 'd']

**16. Creat a code to check if given list is sorted (either in ascending order or desending order) or not.**

In [ ]:
list1 = [1,2,3,4,5,6, 88,23]
list2 = list1.copy()
list2==list1[:]
list1.sort()
if list2 == list1:
  print("the list is in ascending order")
else:
  print("The list is not in ascending order")

The list is not in ascending order

**17. Write a code to merge two sorted lists into a single sorted list.**

In [ ]:
list3 = [1,3,5]
list4 = [2,4,6]
list5 = list3 +list4
list5.sort()
print(list5)

[1, 2, 3, 4, 5, 6]

**18. Implement a code to find the intersection of two given lists.**

In [ ]:
list6 = [1,2,3,4,5]
list7 = [2,4,6,8,10, 5]
list8 = []
for i in list6:
  if i in list7:
    list8.append(i)
print(list8)

[2, 4, 5]

**19. Creat a code to find the union of two lists without dublicates.**

In [ ]:
list9 = [1,2,3,4,5]
list10 = [2,4,6,8,10]
list11 = []
for i in list9:
  if i not in list11:
    list11.append(i)
for j in list10:
  if j not in list11:
    list11.append(j)
print(list11)

[1, 2, 3, 4, 5, 6, 8, 10]

In [ ]:
list9 = [1,2,3,4,5]
list10 = [2,4,6,8,10]
list11 = list9 + list10
list11 = list(set(list11))
print(list11)

[1, 2, 3, 4, 5, 6, 8, 10]

**20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.**

In [ ]:
list12 = [1,2,3,4,5,6,7,8,9,10]
import random
for i in range(len(list12)-1, 0, -1):
  j = random.randint(0,i)
  list12[i], list12[j] = list12[j], list12[i]
print(list12)

[6, 8, 7, 3, 10, 4, 2, 5, 9, 1]

**21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.**

In [ ]:
tpl = (1,2,3,4,5)
tpl1 = (3,4,5,6,7)
tpl2 = []
for i in tpl:
  if i in tpl1:
    tpl2.append(i)
print(tuple(tpl2))

(3, 4, 5)

**22. Creat a code that prompts the user to enter two sets of integers seperated by commas. Then, print the intersection of these two sets.**

In [2]:
set1_str = input("Enter the first set of integers, separated by commas: ")

set1 = set(int(num) for num in set1_str.split(','))

set2_str = input("Enter the second set of integers, separated by commas: ")

set2 = set(int(num) for num in set2_str.split(','))

intersection_set = set1.intersection(set2)

print("Intersection of the two sets:", intersection_set)

Enter the first set of integers, separated by commas: 1,2,3,4,8,7,6,5,9,0
Enter the second set of integers, separated by commas: 9,7,5,1,2,3,4,0,7,5
Intersection of the two sets: {0, 1, 2, 3, 4, 5, 7, 9}

**23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.**

In [3]:
tuple1 = tuple(int(num) for num in input("Enter the first tuple, separated by commas: ").split(','))
tuple2 = tuple(int(num) for num in input("Enter the second tuple, separated by commas: ").split(','))

concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Enter the first tuple, separated by commas: 1,2,3,4,5,6,7,8,9,0
Enter the second tuple, separated by commas: 0,9,8,7,6,5,4,3,2,1
Concatenated tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1)

**24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set.**

In [5]:
set1_str = input("Enter the first set of strings, separated by commas: ")

set1 = set(set1_str.split(','))

set2_str = input("Enter the second set of strings, separated by commas: ")

set2 = set(set2_str.split(','))

difference_set = set1.difference(set2)

print("Elements in the first set but not in the second:", difference_set)

Enter the first set of strings, separated by commas: 1,2,3,4,5
Enter the second set of strings, separated by commas: 5,4,6,7,2
Elements in the first set but not in the second: {'3', '1'}

**25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices**

In [8]:
input_tuple = tuple(int(num) for num in input("Enter the tuple, separated by commas: ").split(','))
start_index = int(input("Enter the starting index: "))
end_index = int(input("Enter the ending index: "))

sliced_tuple = input_tuple[start_index:end_index+1]

print("Sliced tuple:", sliced_tuple)

Enter the tuple, separated by commas: 10,20,30,40,50
Enter the starting index: 1
Enter the ending index: 3
Sliced tuple: (20, 30, 40)

**26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets&**

In [10]:
set1 = set(input("Enter the first set of characters: "))
set2 = set(input("Enter the second set of characters: "))

union_set = set1.union(set2)

print("Union of the two sets:", union_set)

Enter the first set of characters: abcde
Enter the second set of characters: cdefg
Union of the two sets: {'e', 'b', 'd', 'a', 'f', 'g', 'c'}

**27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking**

In [11]:
tuple1 = tuple(int(num) for num in input("Enter the tuple of integers, separated by commas: ").split(','))

max_value, min_value = max(tuple1), min(tuple1)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Enter the tuple of integers, separated by commas: 1,2,3,4,3
Maximum value: 4
Minimum value: 1

**28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets&**

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_set = set1.union(set2)
print("Union of the sets:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection of the sets:", intersection_set)

difference_set = set1.difference(set2)
print("Difference of the sets (set1 - set2):", difference_set)

Union of the sets: {1, 2, 3, 4, 5, 6, 7}
Intersection of the sets: {3, 4, 5}
Difference of the sets (set1 - set2): {1, 2}

**29 Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple&**

In [14]:
tuple1 = tuple(int(num) for num in input("Enter the tuple of integers, separated by commas: ").split(','))
element = int(input("Enter the element to count: "))

count = tuple1.count(element)

print("Count of the element:", count)

Enter the tuple of integers, separated by commas: 1,2,3,2,1,4,2,9,7,5,2,3,4,5
Enter the element to count: 2
Count of the element: 4

**30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets&**

In [15]:
set1 = set(input("Enter the first set of strings, separated by commas: ").split(','))
set2 = set(input("Enter the second set of strings, separated by commas: ").split(','))

symmetric_difference = set1.symmetric_difference(set2)

print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings, separated by commas: akif, wasif, azib
Enter the second set of strings, separated by commas: kaif, ajay, affan
Symmetric difference of the two sets: {' wasif', 'akif', 'kaif', ' azib', ' ajay', ' affan'}

**31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list&**

In [16]:
words = input("Enter a list of words, separated by commas: ").split(',')

word_counts = {}
for word in words:
    word_counts[word] = word_counts.get(word, 0) + 1

print(word_counts)

Enter a list of words, separated by commas: the, we, they, them
{'the': 1, ' we': 1, ' they': 1, ' them': 1}

**32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together&**

In [17]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'c': 5, 'd': 6}

merged_dict = {}
for key in dict1.keys() | dict2.keys():
    merged_dict[key] = dict1.get(key, 0) + dict2.get(key, 0)

print(merged_dict)

{'b': 6, 'd': 6, 'c': 8, 'a': 1}

**33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None**

In [18]:
nested_dict = {'a': {'b': {'c': 10}}}
keys = ['a', 'b', 'c']

value = nested_dict
for key in keys:
    if key in value:
        value = value[key]
    else:
        value = None
        break

print(value)

10

**34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order&**

In [20]:
dict1 = {'a': 10, 'b': 5, 'c': 15, 'd': 8}

sorted_dict_asc = dict(sorted(dict1.items(), key=lambda item: item[1]))
print("Sorted dictionary in ascending order:", sorted_dict_asc)

sorted_dict_desc = dict(sorted(dict1.items(), key=lambda item: item[1], reverse=True))
print("Sorted dictionary in descending order:", sorted_dict_desc)

Sorted dictionary in ascending order: {'b': 5, 'd': 8, 'a': 10, 'c': 15}
Sorted dictionary in descending order: {'c': 15, 'a': 10, 'd': 8, 'b': 5}

**35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.**

In [21]:
original_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

inverted_dict = {}
for key, value in original_dict.items():
    inverted_dict.setdefault(value, []).append(key)

print(inverted_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}